::-webkit-scrollbar {
    background: #1e1e1e;
    border: 1px solid #252525;
}
::-webkit-scrollbar-thumb {
    background: #3498db;
}
::-webkit-scrollbar-track {
    background-color: #282c34;
}
html, body {
    background-color: #282c34;
}
.notifications {
    border: 1px solid #181a1f;
}
.nfyTop {
    color: #d2d2d2;
    background-color: #21252b;
    border: 1px solid #181a1f;
}
.secondTop {
    background: #282c34;
}
#nfyReadClose {
    color: #d2d2d2;
}
.itemBox, .watchListSettings {
    border-bottom: 1px dashed #181a1f;
    background-color: #282c34;
    color: #d2d2d2;
}
.itemBox:hover {
    background-color: #3a404b;
}
.nfyItemLine {
    color: #555;
}
.nfyWrap {
    background-color: #282c34;
}
.nfyWrap .nfyItemLine a {
    color: #3498db;
}
.nfyItemLine a:focus, .nfyItemLine a:hover, .nfyItemLine a:visited {
    color: #5faee3;
}
a:visited {
    color: #2980b9;
}
.nfyWhat {
    color: #d2d2d2;
}
.nfyTime {
    color: #888;
}
.nfyFooter {
    background: #21252b;
    border-color: #181a1f;
}
.nfyFooter a {
    color: #d2d2d2;
}
.followed li, .removeFromWatchlist, .addToWatchlist, .runScan, .show-tag {
    background-color: #21252b;
    color: #b9b9b9;
}
.foundTags {
    border: 1px solid #181a1f;
}
.foundTags > li {
    border-bottom: 1px solid #181a1f;
}
.runScan {
    border: none;
}
.runScan:hover, .removeFromWatchlist:hover {
    filter: brightness(120%);
}
.searchTags {
    border: 1px solid #181a1f;
    background-color: #282c34;
    color: #d2d2d2;
    outline-color: #126252;
    transition: all .3s ease;
}
.searchTags:focus {
    border-color: #117964;
    background-color: #7cc363;
    color: #fff;
}
.search-field .clear {
    color: #fff;
}