html, body {
    background-color: #fefefe;
}
.notifications {
    border: 1px solid #CCC;
}
.nfyTop {
    color: #fff;
    background: #0984e3;
    border: 1px solid #74b9ff;
}
#nfyReadClose {
    color: #fff;
}
.github-ref {
    color: #fff;
}
.secondTop {
    background: #74b9ff;
}
.tag-icon {
    color: #0984e3
}
.nfyWrap {
    background: #fefefe;
}
.itemBox {
    border-bottom: 1px dashed #CCC;
}
.itemBox:hover {
    background-color: #eaeaea;
}
.nfyItemLine, .watchListSettings {
    color: #555;
}
.nfyWrap .nfyItemLine a {
    color: #44a;
}
.nfyItemLine a:focus, .nfyItemLine a:hover, .nfyItemLine a:visited {
    color: #44a;
}
.nfyWhat {
    color: #555;
}
.nfyTime {
    color: #888;
}
.nfyFooter {
    background: #fefefe;
    border-color: #CCC;
}
.nfyFooter a {
    color: #333;
}
.followed li, .removeFromWatchlist, .addToWatchlist, .show-tag {
    background-color: #0984e3;
    color: #fff;
}
.runScan:hover {
    background: rgb(226, 226, 226);
}
.foundTags {
    border: 1px solid #CCC;
}
.foundTags > li {
    border-bottom: 1px solid #CCC;
}
.foundTags li > button {
    background-color: #fefefe;
    color: #000;
}