<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../assets/themes/main.css">
</head>

<body>
<div class="notifications">
  <div id="nfyWrap" class="nfyWrap">
    <div class="nfyTop">
      <a class="github-ref" href="https://github.com/nfm886/forum-pasja-informatyki-firefoxExtension" target="_blank"><i class="fab fa-github"></i></a>
      <span class="page-watchlist">Obserowane</span> &bull; <span class="page-notifications active">Powiadomienia</span>
      <a id="nfyReadClose" target="_blank"><i class="fas fa-window-close"></i></a>
    </div>
    <div class="nfyContainer">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../src/global/jquery.js"></script>
<script type="text/javascript" src="../src/global/fontawesome.js"></script>
<script type="text/javascript" src="../src/global/nav.js"></script>
<script type="text/javascript" src="../src/popup.js"></script>
</body>

</html>