<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../assets/themes/main.css">
</head>

<body>
  <div class="notifications">
    <div id="nfyWrap" class="nfyWrap">
      <div class="nfyTop">
        <span class="page-watchlist">Obserowane</span> &bull; <span class="page-notifications active">Powiadomienia</span>
        <a id="nfyReadClose" target="_blank">[ X ]</a>
      </div>
      <div class="nfyContainer">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="nfyFooter">
        <a href="https://github.com/nfm886/forum-pasja-informatyki-firefoxExtension" target="_blank">GitHub</a>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../jquery.js"></script>
  <script type="text/javascript" src="../src/popup.js"></script>
  <script type="text/javascript" src="../src/nav.js"></script>
</body>

</html>