<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <style>
        form {
            margin: 12px 0;
        }
        .theme-options, .sounds-options {
            margin: 12px 0;
        }
        .save {
            margin: 12px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="settings">
            <div class="theme">
                <h3>Motyw</h3>
                <form>
                    <div class="theme-options">
                        <input type="radio" name="theme" id="light">
                        <label for="light">Jasny (domyślny)</label>
                    </div>
                    <div class="theme-options">
                        <input type="radio" name="theme" id="dark">
                        <label for="dark">Ciemny</label>
                    </div>
                </form>
            </div>
            <div class="sounds">
                <h3>Dźwięki powiadomień</h3>
                <form>
                    <div class="sounds-options">
                        <input type="radio" name="sound" id="off">
                        <label for="off">Wyciszone (domyślnie)</label>
                    </div>
                    <div class="sounds-options">
                        <input type="radio" name="sound" id="on">
                        <label for="on">Włączone</label>
                    </div>
                    <div class="sounds-options">
                        <input type="radio" name="sound" id="onlyPriv">
                        <label for="onlyPriv">Włączone (tylko wiadomości prywatne)</label>
                    </div>
                    <div class="sounds-options">
                        <input type="radio" name="sound" id="onlyWatchlist">
                        <label for="onlyWatchlist">Włączone (tylko obserwowane tagi)</label>
                    </div>
                </form>
            </div>
            <div class="actions">
                <button class="save">Zapisz</button>
            </div>
        </div>
    </div>
    <script src="../src/global/jquery.js"></script>
    <script src="../src/settings.js"></script>
</body>
</html>